- var data = htmlWebpackPlugin.options.data;

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="msapplication-TileColor", content="#000")
		meta(name="theme-color", content="#000")

	body
		// Navigation
		include ./layout/navigation

		// Site Content
		.main-div
			block content